body {
    background-color: #B1DDC4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    overflow: auto;
}

.container {
    background-color: #fff;
    width: 864px;
    height: 704px;
    border-radius: 8px;
}

.title {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

button.file {
    border-radius: 20px 0px 0px 20px;
    background: #55AE3A;
    color: #FFF;
}

button.file:active {
    color: red;
}

button.script {
    border-radius: 0px 20px 20px 0px;
    background: #063;
    color: #FFF;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    border: 0px;
    height: 32px;
    gap: 4px;
    padding: 6px 24px;
}

.buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

a {
    text-decoration: none;
}

img.size24x24 {
    height: 24px;
    width: 24px;
}

img.size20x20 {
    height: 20px;
    width: 20px;
}

.circle {
    width: 123px;
    height: 123px;
    border-radius: 200px;
    border: 4px dashed #B1DDC4;
    margin: 20px 370.5px 0 370.5px;
}

label {
    color: #063;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

label.margin {
    margin-left: 4px;
}

.inputnamepos {
    margin-top: 20px;
    margin-left: 19.5%;
    display: flex;
    align-items: center;
}

.inputpos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 18.5%;
    margin-right: 18.5%;
}

input.data {
    width: 100%;
    height: 20px;
    padding: 10px 12px;
    border-radius: 20px;
    border: 1px solid #063;
    color: #363636;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type=radio] {
    width: 24px;
    height: 24px;
    border-color: #363636;
}

label.radio {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.radio{
    display: flex;
    align-items: center;
    margin: 4px;
}

.radioalign {
    margin-left: 18.5%;
    margin-bottom: 20px;
}

.bottombuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 18.5%;
    margin-right: 18.5%;
}

button.close {
    border-radius: 20px;
    background: #063;
    color: #FFF;
}

button.done {
    color: #BFBFBF;
    border-radius: 20px;
    background: #DADADA;
}

.circleposition {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

span.material-icons {
    font-size: 20px;
}

span.material-symbols-outlined {
    font-size: 24px;
    color: #006633;
}

span.white-colored {
    color: #FFFFFF;
    font-size: 20px;
}